.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100%;
}

.card__cover {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 168px;
  width: 300px;
}

.card__cover:hover {
  cursor: pointer;
}

.card__trailer-link {
  width: 100%;
  height: 100%;
}

.card__cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.card__button-add {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 30px;
  width: 72px;
  height: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  color: #000000;
}

.card__button-added {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
  background: center no-repeat url(../../images/card-btn-add.svg);
  background-color: #ff4062;
  width: 21px;
  height: 21px;
}

.card__button-dellete {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
  background: center no-repeat url(../../images/card-btn-dellete.svg);
  background-color: #f9f9f9;
  width: 21px;
  height: 21px;
}
.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.card__movie-length {
  width: 52px;
  height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a0a0a0;
  background-color: #f9f9f9;
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  .card__cover {
    height: 190px;
    width: 339px;
  }

  .card__description {
    min-height: 68px;
  }

  .card__name {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .card__cover {
    height: 201px;
    width: 360px;
  }

  .card__description {
    min-height: 46px;
  }
}
