.aboutProject {
  padding: 70px 18px;
  box-sizing: border-box;
  min-height: 641px;
  display: flex;
  flex-direction: column;
}

.aboutProject__title {
  margin: 0 0 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #000000;
  border-bottom: solid 1px #000000;
  min-height: 50px;
}

.aboutProject__article {
  margin: 0;
  min-height: 152px;
}

.aboutProject__article-title {
  margin: 0 0 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #000000;
}

.aboutProject__article-text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #000000;
}

.aboutProject__info-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.aboutProject__info-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  background-color: #f2f2f2;
  min-height: 35px;
}

.aboutProject__info-head_theme_dark {
  background-color: #000000;
  color: #ffffff;
}

.aboutProject__info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Suisse Intl;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #a0a0a0;
  min-height: 35px;
}

@media screen and (min-width: 768px) {
  .aboutProject {
    padding: 90px 50px;
    min-height: 585px;
  }

  .aboutProject__title {
    margin-bottom: 70px;
    font-size: 22px;
    line-height: 27px;
  }

  .aboutProject__articles {
    display: flex;
  }

  .aboutProject__article {
    min-height: 200px;
  }

  .aboutProject__article-title {
    font-size: 20px;
    line-height: 24px;
  }

  .aboutProject__article-text {
    font-size: 12px;
    line-height: 18px;
  }

  .aboutProject__info-block {
    grid-template-columns: 1fr 4fr;
  }

  .aboutProject__info-head {
    font-size: 14px;
    line-height: 17px;
    min-height: 36px;
  }

  .aboutProject__info-text {
    font-size: 14px;
    line-height: 17px;
    min-height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .aboutProject {
    padding: 110px 70px;
    min-height: 608px;
  }

  .aboutProject__article {
    min-height: 200px;
  }

  .aboutProject__article-text {
    font-size: 14px;
    line-height: 20px;
  }
}
