.register {
  padding: 55px 0 30px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  max-width: 260px;
}

.register__logo {
  width: 38px;
  margin-bottom: 50px;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register__greetings {
  margin: 0 0 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.register__field-name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.register__field {
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  background: #f9f9f9;
  border-radius: 8px;
  height: 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.register__field_type_error {
  color: #ff4062;
}

.register__field-error {
  max-width: 396px;
  height: 12px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.register__field-error:last-of-type {
  margin-bottom: 167px;
}

.register__form-submit {
  margin-bottom: 15px;
  border: none;
  background: #000000;
  border-radius: 3px;
  height: 45px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.register__form-submit_disabled {
  background-color: #f8f8f8;
  color: #a0a0a0;
}

.register__login-box {
  display: flex;
}

.register__login-question {
  margin: 0 7px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #a0a0a0;
}

.register__login {
  margin: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .register {
    padding-top: 232px;
    max-width: 396px;
  }

  .register__logo {
    align-self: flex-start;
    margin-bottom: 40px;
  }

  .register__greetings {
    align-self: flex-start;
    margin-bottom: 40px;
  }

  .register__form-submit {
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 17px;
  }

  .register__field-error:last-of-type {
    margin-bottom: 80px;
  }

  .register__login-question {
    font-size: 14px;
    line-height: 17px;
  }

  .register__login {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .register {
    padding-top: 70px;
  }
}